<div class="content-wrapper">

  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-cash-multiple"></i>
      </span> Cuentas </h3>
    <nav aria-label="breadcrumb">

    </nav>
  </div>

  <!--Div para el dashboard-->
  <div class="row-">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <h4 class="card-title float-left">Gastos de tu cuenta de </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin del div para el dashboard-->

  <!--Div para datos de la cuenta-->
  <div class="col-12">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title ">Datos de esta cuenta: </h4>
        <p class="card-description">Gestiona tu cuenta, manten controlados tus gastos.</p>
        <!-- Formularios para crear nueva cuenta-->
        <form class="form-sample">
          
          <div class="form-group">
            <label for="exampleInputName1">Nombre de la cuenta:</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Tarjeta de Crédito 1">
          </div>

          <div class="form-group">
            <label for="exampleInputName1">Cantidad inicial de la cuenta:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bg-gradient-primary text-white">L</span>
              </div>
              <input type="text" class="form-control" placeholder="10,000.00"
                aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputName1">Si deseas puedes ahorrar una cantidad de dinero al
              mes, ingresala:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bg-gradient-primary text-white">L</span>
              </div>
              <input type="text" class="form-control" placeholder="2,000.00"
                aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-mr-2 btn-inverse-primary "> Editar cuenta</button>
        </form>
        <!-- Fin del formularios para crear nueva cuenta-->
      </div>
    </div>

  </div>
  <!--Fin del div para el dashboard-->

  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a
          href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
          class="mdi mdi-heart text-danger"></i></span>
    </div>
  </footer>
  <!-- partial -->
</div>