<div class="content-wrapper">

  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-cash-multiple"></i>
      </span> Cuentas </h3>
    <nav aria-label="breadcrumb">

    </nav>
  </div>

  <!--Div para el dashboard-->
  <div class="row-">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <h4 class="card-title float-left">Gastos de tu cuenta de </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin del div para el dashboard-->

  <!--Div para datos de la cuenta-->
  <div class="col-12">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title ">Datos de esta cuenta: </h4>
        <p class="card-description">Gestiona tu cuenta, manten controlados tus gastos.</p>
        <!-- Formularios para crear nueva cuenta-->


        <div class="form-group">
          <label for="exampleInputName1">Nombre de la cuenta:</label>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6">

            <div class="form-group">
              <label for="exampleInputName1">Ingresos:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-gradient-primary text-white">L</span>
                </div>
                <p class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">

                  </div>
              </div>
            </div>

          </div>
          <div class="col-lg-6 col-md-6">

            <div class="form-group ">
              <label for="exampleInputName1">Gastos</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-gradient-primary text-white">L</span>
                </div>
                <p class="form-control" aria-label="Amount (to the nearest dollar)">
              </div>
            </div>
            <!--No quitar-->
          </div>

          <div class="col-lg-6 col-md-6">

            <div class="form-group ">
              <label for="exampleInputName1">Saldo</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-gradient-primary text-white">L</span>
                </div>
                <p class="form-control" aria-label="Amount (to the nearest dollar)">
              </div>
            </div>
            <!--No quitar-->
          </div>

        </div>
        <!-- Botón que llama al modal-->
        <button class="btn btn-mr-2 btn-inverse-primary" data-toggle="modal" data-target="#squarespaceModal"> Editar
          cuenta</button>

      </div>
    </div>

  </div>
  <!--Fin del div para el dashboard-->


</div>