
{{!-- <link rel="stylesheet" href="/css/error.css">
<h1>{{status}}</h1>
<p>Oops! {{message}}</p>
<a class="button" href="/"><i class="icon-home"></i> Volver al inicio, es mejor.</a> --}}

<!DOCTYPE html>
<html lang="es">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Bootstrap Website Templates">

	<title>Bitcoin Trade - one page bootstrap website template</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Theme CSS -->
	<link href="/css/error.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

</head>

<body>

	<div class="container text-center">
		<div class="brand">
			<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
			<h3 class="text-uppercase">Budget-Support</h3>
		</div>
		<h1 class="head"><span>{{status}}</span></h1>
		<p>Oops! {{message}}</p>
		<a href="/appHome" class="btn-outline"> Volver al inicio</a>
	</div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="js/script.js"></script>
</body>
</html>	