<div class="content-wrapper">

  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>
      </span> Inicio </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Mis cuentas <i class="mdi mdi-cash-multiple icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>
  <!--Div resúmen de cuentas-->
  <div class="row">
    {{#cardMaker data}}
    {{/cardMaker}}
    
  </div>
  <!--Fin div resúmenm de cuentas-->

  <!--Div para el dashboard-->
  <div class="row-">

    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tus transacciones</h4>
          <p class="card-description"> Resumen de las transaccionesde tus cuentas</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th> # </th>
                <th> Cuenta </th>
                <th> Ingresos </th>
                <th> Gastos </th>
                <th> Saldo </th>
              </tr>

            </thead>
            <tbody>
              {{#tableMaker data}}
              {{/tableMaker}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a
          href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
          class="mdi mdi-heart text-danger"></i></span>
    </div>
  </footer>
  <!-- partial -->
</div>