<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class=" text-center text-info">Datos personales</h4>

            <div id="cambiarImagen" class="nav-profile-img">

                <img src="assets/images/faces/face2.jpg" alt="image">
                <span class="availability-status online"></span>
                
            </div>
            
            <div class="nav-profile-text">
                <p class="mb-1 text-primary">{{user.name}}</p>
            </div>

            <button id="cambiarImagen" type="button" class=" btn btn-outline-danger btn-icon-text btn-sm">Cambiar imagen de perfil</button>

            <div class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">Nombre y Apellido</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Correo electr칩nico</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                </div>

                <button id="botonesPerfil" type="submit" class="btn btn-gradient-primary mr-2">Aceptar</button>
                <button id="botonesPerfil" class="btn btn-light">Cancelat</button>

                <h4 class="card-title text-center text-info">Cambio de contrase침a</h4>
                <div class="form-group">
                    <label for="exampleInputPassword4">Contrase침a</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="*****">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Repetir contrase침a</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="*****">
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Aceptar</button>
                <button class="btn btn-light">Cancelar</button>
            </div>
        </div>
    </div>
</div>